<h1 class="dashboard-title">Dashboard</h1>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child notification is-primary">
      <p class="title">Vacaciones</p>
      <p class="subtitle">Programación de vacaciones</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title"></p>
      <p class="subtitle"></p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title"></p>
      <p class="subtitle"></p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title"></p>
      <p class="subtitle"></p>
    </article>
  </div>
</div>