// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1.dashboard-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
